name: Build Docker Image

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Show files
        run: |
          pwd
          ls -R

      - name: Build Docker image
        run: docker build -t myapp:v1 -f ./app/Dockerfile ./app
